@media screen and (max-width:770px) {
    .sizeLiens {
        width: 90%;
    }

    .sizeLien1et2 {
        margin-left: 20%;
    }
    .blocHebergements {
        height: auto;
    }

    .bloc1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .bloc2 {
        flex-direction: column;
        margin-top: 0;
    }

    .cubeHebergements {
        width: 100%;
        margin-bottom: 50px;
    }

    .cubeDetailsHebergements {
        min-height: auto;
    }
    .blocActivites {
        flex-direction: column;
        height: auto;
    }

    .cubeActivites {
        width: 100%;
        margin-bottom: 50px;
    }

    .blocActivites2356 {
        width: 100%;
        height: auto;
    }

    .cubeActivites2356 {
        margin-bottom: 50px;
    }

    .imagesActivites1,
    .imagesActivites2,
    .imagesActivites3,
    .imagesActivites4,
    .imagesActivites5,
    .imagesActivites6 {
        height: 200px
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
    }

    .margeBlocFooter1 {
        margin-left: 0;
    }

    @media screen and (max-width:600px) {

        .sizeLien1et2 {
            order: 1;
            width: 100%;
            margin-left: 0;
        }

        .sizeLienMobile {
            width: 50%;
            border-top: 0;
            border-bottom: 5px solid #f2f2f2;
        }

        .sizeLiens {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .sizeLienMobile:hover {
            border-top: 0;
            border-bottom: 5px solid #0065fc;
        }
        
        .mobileTitreH1 {
            font-size: x-large;
        }

        .bordureSearch {
            width: auto;
            border: none;
        }

        .recherche {
            width: 200px;
            border-bottom: 1px solid #f2f2f2;
            border-top: 1px solid #f2f2f2;
        }

        .buttonSearch {
            width: 50px;
            border-radius: 15px;
            border-bottom: 1px solid #f2f2f2;
            border-top: 1px solid #f2f2f2;
        }

        .desktopNone {
            display: none;
        }

        .mobileNone {
            display: none;
        }
    }
        .margeFiltre {
            padding-left: 5%;
        }

        .mobileEconomiques {
            margin-right: 5px;

        }

        .mobileFamiliales {
            margin-right: 0;
        }

        .filtreTexte {
            padding-left: 10px;
            padding-right: 10px;
        }

        .info {
            padding-left: 5%;
        }

        .blocPopulaires {
            border-radius: 0;
        }

        .blocHebergements {
            background-color: white;
        }

        .mobileTitreParagraphes {
            padding-left: 5%;
        }

        .blocActivites {
            padding: 5%;
            width: 90%;
        }
        html,
        body {
        margin: 0;
        padding: 0;
    }
}
