body{
    margin:0 auto;
}

header{
    margin-top:1%;
    margin-left:2%;
}

* {
    font-family: 'Raleway', sans-serif;
    color: black;
} 

h1 p{
    font-family: 'Raleway' sans-serif
    
}

ul{
    background-color: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


a{
    text-decoration: none;
    color: black;
}


/* Propriétés CSS */

nav div{
    display: inline-block;
}

.container-img{
    padding-top: 20px;
}
.menu{
    float:right;
}

.menu li{
    display: inline-block;
    margin-right: 20px;
    /*       TOP  RIGHT BOTTOM LEFT                */
    padding: 20px 5px 0 5px;
}

.active{
    border-top: 1px solid #0065FC;
}

td span {
    margin-right: 10px; 
}

ul li{
    list-style-type: none;
}



ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 20px 5px 0 5px;
}


button {
    display: inline-block;
    width: 100px;
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(46, 150, 219)

}   